@page
@model FundaVida.Pages.Cursos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].CursoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].CursoImagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Curso)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CursoNombre)
                </td>
                <td>
                    @if (item.CursoImagen != null)
                    {
                        var base64 = Convert.ToBase64String(item.CursoImagen);
                        var img = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@img" width="100px" height="100px" />
                    }
                    else
                    {
                        <p>no image</p>
                    }

                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CursoId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CursoId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CursoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
