@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="text-justify">
        <h1 class="">
            CURSOS Y SERVICIOS
        </h1>
        <p class="lead">
            Como parte de nuestros esfuerzos para aportar a la transformación educativa del país, ofrecemos cursos, eventos y alquilamos nuestra infraestructura para apoyar el financiamiento de nuestros diversos modelos educativos.
            <br /><br />
            Contamos con una robusta oferta de cursos dirigida a niños, jóvenes, docentes, profesionales de distintas áreas, y adultos mayores. En el Campus virtual Upe podés encontrar todas las opciones gratuitas disponibles. Por otro lado, para apoyar nuestra sostenibilidad, contamos con un amplio portafolio de cursos especializados de venta, que se orientan al aprovechamiento de las tecnologías para el desarrollo de habilidades para el siglo XXI y obtener certificaciones internacionales.
        </p>

    </div>
</div>
<br />

<!--- Carousel --->

<div id="mycarouselInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img class="d-block w-100 " src="/images/Carousel 01.jpg" alt="First" style="width:1000px ;height: 540px">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img class="d-block w-100 " src="/images/Carousel 02.jpg" alt="Second" style="width:1000px ;height: 540px">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img class="d-block w-100 " src="/images/Carousel 01.jpg" alt="First" style="width:1000px ;height: 540px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mycarouselInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mycarouselInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--- Carousel --->

<br />
<br />

<nav class="nav-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-Courses-tab" data-bs-toggle="tab" data-bs-target="#nav-Courses" type="button" role="tab" aria-controls="nav-Courses" aria-selected="true">Cursos</button>
        <button class="nav-link" id="nav-CaoursesOnWaiting-tab" data-bs-toggle="tab" data-bs-target="#nav-CaoursesOnWaiting" type="button" role="tab" aria-controls="nav-CaoursesOnWaiting" aria-selected="false">Cursos en Espera</button>
    </div>
</nav>

<br />

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-Courses" role="tabpanel" aria-labelledby="nav-Courses-tab">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.CourseList)
            {
                <div class="col">
                    <div class="card h-100">
                        @if (item.ImageData != null)
                        {
                            var base64 = Convert.ToBase64String(item.ImageData);
                            var img = string.Format("data:image/jpg;base64,{0}", base64);
                            <img class="card-img-top" src="@img" />
                        }
                        else
                        {

                            <p>no image</p>
                        }

                        <div class="card-body">
                            <div class="card-title">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="card-text">
                                @*
                            @Html.DisplayFor(motelItem => item.Description)*@
                                @Html.DisplayNameFor(modelItem => item.Modality.Name) :
                                @Html.DisplayFor(modelItem => item.Modality.Name)
                            </div>
                            <br />
                            <button type="button" class="btn btn-info stretched-link" data-bs-toggle="modal" data-bs-target="#myModal" asp-route-id="@item.CourseId">
                                Matricula Ya!
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="tab-pane fade" id="nav-CaoursesOnWaiting" role="tabpanel" aria-labelledby="nav-CaoursesOnWaiting-tab">
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModal">Matricular</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-floating mb-3">

                        <input id="nameInput" asp-for="Student.Name" class="form-control" placeholder="sss" />
                        <label for="nameInput" asp-for="Student.Name"></label>
                        <span asp-validation-for="Student.Name" class="text-danger"></span>

                    </div>
                    <div class="form-floating mb-3">

                        <input id="lastNameInput" asp-for="Student.LastName" class="form-control" placeholder="sss" />
                        <label for="lastNameInput" asp-for="Student.LastName"></label>
                        <span asp-validation-for="Student.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">

                        <input id="phoneNumberInput" asp-for="Student.PhoneNumber" class="form-control" placeholder="sss" />
                        <label for="phoneNumberInput" asp-for="Student.PhoneNumber"></label>
                        <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating">

                        <input id="emailInput" asp-for="Student.Email" class="form-control" placeholder="sss" />
                        <label for="emailInput" asp-for="Student.Email"></label>
                        <span asp-validation-for="Student.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-dark">Matricular</button>
                </div>
            </form>
        </div>
    </div>
</div>

